{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "react-app",
    "eslint:recommended"

  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": 1,
    "semi": [2, "always"],
    "@typescript-eslint/no-var-requires": 0,
    "no-multi-assign": "off",
    "no-underscore-dangle": "off",
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "func-names": "off",
    "object-shorthand": "off",
    "no-new": "off",
    "no-plusplus": "off",
    "no-param-reassign": "off",
    "require-yield": "off",
    "no-multiple-empty-lines": [2, {"max": 1}],
    "padding-line-between-statements": ["error",
      { "blankLine": "never", "prev": ["const", "let"], "next": ["const", "let"] },
      { "blankLine": "any", "prev": ["multiline-const", "multiline-let"], "next": ["multiline-const", "multiline-let"] },
      { "blankLine": "any", "prev": ["const", "let"], "next": ["cjs-import"] },
      { "blankLine": "never", "prev": ["*"], "next": ["return"] },
      { "blankLine": "always", "prev": ["cjs-import"], "next": ["*"] },
      { "blankLine": "never", "prev": ["cjs-import"], "next": ["cjs-import"] }
    ]
  }
}